html {
  font-family: Roboto, sans-serif;
  font-size: 11px;
}

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;

$font-weight-500: 500;
$font-weight-700: 700;

$color-light-blue: #00acdc;
$color-light-grey: #f3f3f3;
$color-white: #fff;
$color-black: #000;
