.catalog__indent {
  padding-bottom: 50px;
}

.header__content {
  @include space-between-centered;
  height: $header-height;
  background: $color-white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin: 0 50px;
  min-width: 810px;

  &__img {
    width: $label-moyo-width;
    height: $label-moyo-heigth;
  }
}
